In [1]:
#1. Write a program to reverse a string.
string1A = "History"
string1A = string1A[::-1]
string1A

'yrotsiH'

In [2]:
#2. Check if a string is a palindrome.
string2A = "Nitin"
string2A = string2A.lower()
string2B = string2A[::-1]

if string2A == string2B:
    print("Palindrome")
else:
    print("Not Palindrome")

Palindrome

In [3]:
#3. Convert a string to uppercase.
string3A = "numbers are magic"
string3B = string3A.upper()
print(string3B)

NUMBERS ARE MAGIC

In [4]:
#4. Convert a string to lowercase.
string4A = "YOU WILL GET WHAT YOU DESERVE"
string4B = string4A.lower()
print(string4B)

you will get what you deserve

In [8]:
#5. Count the number of vowels in a string.
vowels = ['a','e','o','i','u']

stirng5A = "House"
vowel_count = 0
for i in stirng5A:
    if i in vowels:
        vowel_count = vowel_count + 1

print("The total counts in",stirng5A, "are", vowel_count)

The total counts in House are 3

In [9]:
#6. Count the number of consonants in a string.
string6A = "House"
total_con = len(string6A)

for i in string6A:
    if i in vowels:
        total_con = total_con - 1

print("The total consonents in",string6A,"are",total_con)

The total consonents in House are 2

In [10]:
#7. Remove all whitespaces from a string.
string7A = "Power BI"
string7B = string7A.replace(" ","")
print(string7B)

PowerBI

In [14]:
#8. Find the length of a string without using the `len()` function.
string8A = "Data Scientist"
string8ACount = 0

for i in string8A:
    string8ACount = string8ACount + 1
print(string8ACount)

14

In [15]:
#9. Check if a string contains a specific word.
string9A = "Data can be analyse using PowerBI"
subString9A = "Data"

if subString9A in string9A:
    print("Substring found")
else:
    print("Substring not found")

Substring found

In [19]:
#10. Replace a word in a string with another word.
string10A = "Data Analyst"
string10B = "Analyst"
string10C = "Scientist"

string10D = string10A.replace(string10B,string10C)
print(string10D)

Data Scientist

In [48]:
#11. Count the occurrences of a word in a string.
string11A = "Data is everything in Data Science. Learn Data, you will get data"
string11 = string11A.lower()
string11B = "data"

string11_count = string11.count(string11B)
print("Total occurrences of a word data in a string is ",string11_count)

Total occurrences of a word data in a string is  4

In [34]:
#12. Find the first occurrence of a word in a string.

string12A = "Data is everything in Data Science. Learn Data, you will get data"
string12 = string11A.lower()
string12B = "you"
string12_list = string12.split(" ")
count12 = 0
count12Pos = 0
count12PosFinal = 0

for i in string12_list:
    count12Pos = count12Pos + 1
    if i == string12B and count12 == 0:
        count12 = count12 + 1
        count12PosFinal = count12Pos

print("The first occurance is at position",count12PosFinal)

The first occurance is at position 9

In [37]:
#13. Find the last occurrence of a word in a string.

string13A = "Data is everything in Data Science. Learn Data, you will get data and you will become a data scientist"
string13 = string11A.lower()
string13B = "you"
string13_list = string13.split(" ")
count13 = 0
count13Pos = 0
count13PosFinal = 0

for i in string13_list:
    count13Pos = count13Pos + 1
    if i == string13B:
        count13 = count13 + 1
        count13PosFinal = count13Pos

print("The last occurance is at position",count13PosFinal)

The last occurance is at position 9

In [40]:
#14. Split a string into a list of words.
string14 = "Data science is the study of data to extract meaningful insights for business."
string14_list = string14.split(" ")
print(string14_list)

['Data', 'science', 'is', 'the', 'study', 'of', 'data', 'to', 'extract', 'meaningful', 'insights', 'for', 'business.']

In [45]:
#15. Join a list of words into a string.
string15_list1 = ["Microsoft Power BI"]
string15_list2 = ["is an interactive data visualization software."]

string15_list3 = string15_list1 + string15_list2
string15_string = ''
for i in string15_list3:
    string15_string = string15_string + i + " "

print(string15_string)

Microsoft Power BI is an interactive data visualization software.

In [46]:
#16. Convert a string where words are separated by spaces to one where words are separated by underscores.
string16A = "Microsoft Power BI is a data visualization and reporting platform"
string16 = string16A.replace(" ","_")
print(string16)

Microsoft_Power_BI_is_a_data_visualization_and_reporting_platform

In [63]:
#17. Check if a string starts with a specific word or phrase.
string17A = "Microsoft Power BI is a data visualization and reporting platform"
string17B = "Microsoft Power BI"

if string17A.startswith(string17B):
    print("Yes, it does start with", string17B)
else:    
    print("No, it doesn't start with", string17B)

No, it doesn't start with Microsoft Power BIss

In [64]:
#18. Check if a string ends with a specific word or phrase.
string18A = "Microsoft Power BI is a data visualization and reporting platform"
string18B = "reporting platform"

if string18A.endswith(string18B):
    print("Yes, it does end with", string18B)
else:    
    print("No, it doesn't end with", string18B)

Yes, it does end with reporting platform

In [66]:
#19. Convert a string to title case (e.g., "hello world" to "Hello World").
string19A = "Chandrayaan-3 is the third mission in the Chandrayaan programme."
string19B = string19A.title()
print(string19B)

Chandrayaan-3 Is The Third Mission In The Chandrayaan Programme.

In [67]:
#20. Find the longest word in a string.
string20A = "Just one small positive thought in the morning can change your whole day."
string20B = string20A.split(" ")
string20C = ''

for i in string20B:
    if len(i) > len(string20C):
        string20C = i
print(string20C)

positive

In [3]:
#21. Find the shortest word in a string.
string21A = "Just one small positive thought in the morning can change your whole day."
string21B = string21A.split(" ")
string21C = string21B[0]

for i in string21B:
   if len(string21C) > len(i):
    string21C = i

print(string21C)

in

In [25]:
#22. Reverse the order of words in a string.
string22A = "Love is Life"
string22B = string22A.split(" ")
string22C = ""
n22 = len(string22B)-1

for i in range(n22,-1,-1):
    string22C = string22C + string22B[i] + " "

print(string22C)

Life is Love

In [49]:
#23. Check if a string is alphanumeric.
string23A = "Office365"
if string23A.isalnum():
    print("Yes, Alphanumeric")
else:
    print("No, not Alphanumeric")
    
string23B = "Microsoft Office"
string23C = string23B.split(" ")
count23 = 0

for i in string23C:
    if i.isalnum() and not i.isalpha():
        count23 = count23 +1
if count23 > 0:
    print("Yes, Alphanumeric")
else:
    print("No, not Alphanumeric")

Yes, Alphanumeric
No, not Alphanumeric

In [60]:
#24. Extract all digits from a string.
string24A = "2023 is luckiest 333 year for me 123"
string24B = string24A.split(" ")
string24C = []
string24D = ""

for i in string24B:
    if i.isnumeric():
        string24C.append(int(i))
for i in string24C:
    string24D = string24D + str(i) + " "
print(string24D)

2023 333 123

In [61]:
#25. Extract all alphabets from a string.

string25A = "2023 is luckiest year for me"
string25B = string25A.split(" ")
string25D = ""

for i in string25B:
    if i.isalpha():
        string25D = string25D + i + " "
print(string25D)

is luckiest year for me

In [65]:
#26. Count the number of uppercase letters in a string.
string26A = "Mistakes are the Growing pains of Wisdom."
count26 = 0

for i in string26A:
    if i.isupper():
        count26 = count26 + 1
print(count26)

3

In [66]:
#27. Count the number of lowercase letters in a string.
string27A = "Mistakes are the Growing pains of Wisdom."
count27 = 0

for i in string27A:
    if i.islower():
        count27 = count27 + 1
print(count27)

31

In [68]:
#28. Swap the case of each character in a string.

string28A = "Mistakes are the Growing pains of Wisdom."
string28B = string28A.swapcase()
print(string28B)

mISTAKES ARE THE gROWING PAINS OF wISDOM.

In [76]:
#29. Remove a specific word from a string.

string29A = "Mistakes are the Growing pains of Wisdom."
string29B = "Mistakes"

string29C = string29A.replace("Mistakes ","")
print(string29C)

are the Growing pains of Wisdom.

In [14]:
#30. Check if a string is a valid email address.
string30A = "python.power@data.in"
string30B = string30A.split("@")
#invalid_char = ["!","#","$","^","&","*",")","(","-","+","=","/","~","`","?","}","\"," "]

string30C = string30B[0]
string30D = string30C.split(".")

string30E = string30B[1]
string30F = string30E.split(".")
count30 = 0

if len(string30B) == 2:
    
    if len(string30D) > 1:
        if len(string30D[0])>1 and string30D[0].isalpha():
            count30 = count30 + 1
            
    if len(string30F) > 1:
        if len(string30F[1])>1 and string30F[1].isalpha():
            count30 = count30 + 1

    if count30 == 2:
        print("Valid")
    else:
        print("Invalid - inside")
else:
    print("Invalid")

Valid

In [15]:
#31. Extract the username from an email address string.
string31A = "python.power@data.in"
string31B = string31A.split("@")
print(string31B[0])

python.power

In [16]:
#32. Extract the domain name from an email address string.
string32A = "python.power@data.in"
string32B = string31A.split("@")
print(string31B[1])

data.in

In [30]:
#33. Replace multiple spaces in a string with a single space.
string33A = "Quality is     not an act, it is a         habit."
string33B = string33A.split(" ")
print(string33B)

string33C = ""

count33 = 0
for i in string33B:
    if i != "":
        string33C = string33C + i + " "

print(string33C)

['Quality', 'is', '', '', '', '', 'not', 'an', 'act,', 'it', 'is', 'a', '', '', '', '', '', '', '', '', 'habit.']
Quality is not an act, it is a habit.

In [17]:
#34. Check if a string is a valid URL.
string34A = "https://www.google.com"
string34B = "//"
string34C = string34A.split(string34B)
#print("string34C",string34C)

if (string34C[0] != "http:") and (string34C[0] != "https:"):
    print("Invalid URL 1")
else: 
    string34D = string34C[1].split(".")
    #print("string34D",string34D)
    
    if (len(string34D) != 3) or (string34D[0] !="www"):
        print("Invalid URL 2")
    else:
        print("Valid URL")

Invalid URL 2

In [40]:
#35. Extract the protocol (http or https) from a URL string.
string35A = "http://www.google.com"
string35B = "//"
string35C = string35A.split(string35B)
print("Protocol",string35C[0])

Protocol http:

In [39]:
#36. Find the frequency of each character in a string.
string36A = "Time after time and Time after time and everyone should be on time"
string36B = "time"

string36C = string36A.split(" ")
count36 = 0
print("string36C",string36C)

for i in string36C:
    i=i.lower()
    if i == string36B:
        count36 = count36 + 1
print("Frequency of word",string36B, "is",count36)

string36C ['Time', 'after', 'time', 'and', 'Time', 'after', 'time', 'and', 'everyone', 'should', 'be', 'on', 'time']
Frequency of word time is 5

In [25]:
#37. Remove all punctuation from a string.
string37A = "Time after time@, and Time after time$, and everyone should be on time!"
string37B = ", : ! - . ' ; & _ { [ } ] / * ^ % $ # @ ` ~"
string37D = string37B.split(" ")

for x in string37D:
    string37A = string37A.replace(x,"")

print(string37A)

Time after time and Time after time and everyone should be on time

In [34]:
#38. Check if a string contains only digits.
string38A = "12453456"
string38A.isdigit()

True

In [36]:
#39. Check if a string contains only alphabets.
string39A = "Alphabetsonly"
string39A.isalpha()

True

In [37]:
#40. Convert a string to a list of characters.
string40A = "Life is a long lesson in humility."
list_40A = list(string40A)
print(list_40A)

['L', 'i', 'f', 'e', ' ', 'i', 's', ' ', 'a', ' ', 'l', 'o', 'n', 'g', ' ', 'l', 'e', 's', 's', 'o', 'n', ' ', 'i', 'n', ' ', 'h', 'u', 'm', 'i', 'l', 'i', 't', 'y', '.']

In [42]:
#41. Check if two strings are anagrams.
string41A = "Apple"
string41B = "EpplA"

if (len(string41A) == len(string41B)):
    s41A = string41A.lower()
    s41B = string41B.lower()
    
    sorted_41A = sorted(s41A)
    sorted_41B = sorted(s41B)
    
    print("A : ",sorted_41A)
    print("B : ",sorted_41B)
    
    if (sorted_41A == sorted_41B):
        print('Anagrams')
    else:
        print('Not Anagrams')
else:
        print('Not Anagrams')

Not Anagrams

In [12]:
#42. Encode a string using a Caesar cipher.
string42A = "ABC"
int_shift_by = 2
string42_alphabets = ['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z']
string42A = list(string42A)
string42B = []

for j in string42A:
    count42=0
    #print(j, end=" ")
    for i in string42_alphabets:
        count42 = count42 + 1
        if i == j:
            #print(count42)
            c = count42 + int_shift_by
            if c >= 26:
                count42 = 0
                c = count42 + int_shift_by
            string42B.append(string42_alphabets[c])

print(string42B)

['D', 'E', 'F']

In [32]:
#43. Decode a Caesar cipher encoded string.
string43A = "ABC"
int_shift_by = 2
string43_alphabets = ['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z']
string43A = list(string43A)
string43B = []

for j in string43A:
    count43=0
    #print(j, end=" ")
    for i in string43_alphabets:
        count43 = count43 + 1
        if i == j:
            #print(count43)
            c = count43 - (int_shift_by+1)
            if c >= 26:
                count43 = 0
                c = count43 - (int_shift_by+1)
            string43B.append(string43_alphabets[c])

print(string43B)

['Y', 'Z', 'A']

In [30]:
#44. Find the most frequent word in a string.
string44A = "I had a lot of money in the bank. I lend some money . She advised him to take the money . Money got doubled in a month."
string44A = string44A.lower()
list44A = list(string44A.split(" "))
max_count44 = 0
max_word = ""


for i in list44A:
    list44B = []
    for j in list44A:
        if i == j:
            list44B.append(i)            
        if len(list44B) > max_count44:
            max_count44 = len(list44B)
            max_word= i
            
print(max_word)

i

In [49]:
#45. Find all unique words in a string.

string45A = "I had a lot of money in the bank I lend some money She advised him to take the money Money got doubled in a month"
string45A = string45A.lower()
set_45A = set(string45A.split(" "))
list_45A = list(set_45A)
list_45A.sort()

for i in list_45A:
    print(i,"",end=" ")

a  advised  bank  doubled  got  had  him  i  in  lend  lot  money  month  of  she  some  take  the  to

In [ ]:
#46. Count the number of syllables in a string.
string46A = "Book"
string46B = string46A.lower()

In [1]:
#47. Check if a string contains any special characters.
#Unable to solve
string47A = "He11ls"
string47B = list(string47A)
#special_char = ["!","#","$","^","&","*",")","(","-","+","=","/","~","`","?"]
#special_char = "!,#,$,^,&,*,),(,-,+,=,/,~,`,?,},\'"
string47C = ['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z',1,2,3,4,5,6,7,8,9,0]
count47 = 0

for i in string47C:
    for j in string47A:
        #print("j: ",j)
        if i != j:
            count47 = count47 + 1

if count47 > 0:
    print("Yes special character in a string")
else:
    print("No special character in a string")

Yes special character in a string

In [19]:
# 48. Remove the nth word from a string.
string48A = "Singapore"
n = 2
string48B = string48A[:n-1] + string48A[n+1:]

string48B

'Sgapore'

In [22]:
#49. Insert a word at the nth position in a string.
string49A = "USA"
n=2

string49B = string49A[:n] + "NNN" + string49A[n:]
string49B

'USNNNA'

In [23]:
#50. Convert a CSV string to a list of lists.
string50A = "Happiness is having morning coffee, playing with your pet, dancing, jogging, cooking, studying"
string50B = string50A.split(",") 
string50B

['Happiness is having morning coffee',
 ' playing with your pet',
 ' dancing',
 ' jogging',
 ' cooking',
 ' studying']

In [ ]:
#List Based Practice Problem :

In [24]:
#1. Create a list with integers from 1 to 10.
#list1 = [1,2,3,4,5,6,7,8,9,10]

for i in range(10):
    list1.append(i)

print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [25]:
#2. Find the length of a list without using the `len()` function.

count2A = 0
list2A = [1,2,3,4,5,6,7,8,9,10]

for i in list2A:
    count2A = count2A + 1

print("The length of the list is",count2A)

The length of the list is 10

In [26]:
#3. Append an element to the end of a list.
list3A = [1,2,3,4,5,6,7,8,9]

list3A.append(10)
list3A

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [31]:
#4. Insert an element at a specific index in a list.

list4A = [1,2,3,4,5,6,7,8,10]
list4A.insert(8,9)
list4A

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [33]:
#5. Remove an element from a list by its value.
list5A = [1,2,3,4,5,6,7,8,10]
list5A.remove(4)
list5A

[1, 2, 3, 5, 6, 7, 8, 10]

In [34]:
#6. Remove an element from a list by its index.
list6A = [1,2,3,4,5,6,7,8,10]
list6A.pop(4)
list6A

[1, 2, 3, 4, 6, 7, 8, 10]

In [36]:
#7. Check if an element exists in a list.

list6A = [11,22,33,44,55,66,77,88,100]

if 99 in list6A:
    print("99 Found")
else:
    print("99 Not Found")


if 22 in list6A:
    print("22 Found")
else:
    print("22 Not Found")

99 Not Found
22 Found

In [48]:
#8. Find the index of the first occurrence of an element in a list.

string_L8A = "You know New York, you need New York, you know you need unique New York."
string_L8A = string_L8A.lower()
string_L8A = string_L8A.replace(",","")
string_L8A = string_L8A.replace(".","")
list8A = string_L8A.split(" ")
print(list8A)
word8A = "new"
count8A = 0
count8B = 0
count8C = 0

for i in list8A:
    count8A = count8A + 1
    if i == word8A:
        if count8B == 0:
            count8C = count8A - 1
            count8B = count8B + 1
        
print("The index of first occurance of New is", count8C)

['you', 'know', 'new', 'york', 'you', 'need', 'new', 'york', 'you', 'know', 'you', 'need', 'unique', 'new', 'york']
The index of first occurance of New is 2

In [47]:
#9. Count the occurrences of an element in a list.

string_L9A = "You know New York, you need New York, you know you need unique New York."
string_L9A = string_L9A.lower()
string_L9A = string_L9A.replace(",","")
string_L9A = string_L9A.replace(".","")
list9A = string_L9A.split(" ")
print(list9A)
word9A = "york"
count9A = 0


for i in list9A:
    if i == word9A:
        count9A = count9A + 1
        
print("The index of first occurance of New is", count9A)

['you', 'know', 'new', 'york', 'you', 'need', 'new', 'york', 'you', 'know', 'you', 'need', 'unique', 'new', 'york']
The index of first occurance of New is 3

In [49]:
#10. Reverse the order of elements in a list.
list10A = [1,2,3,4,5,6,7,8,10]
list10B = list10A[::-1]
list10B

[10, 8, 7, 6, 5, 4, 3, 2, 1]

In [50]:
#11. Sort a list in ascending order.
list11A = [11,2,33,4,5,16,37,78,10]
list11A.sort()
list11A

[2, 4, 5, 10, 11, 16, 33, 37, 78]

In [51]:
#12. Sort a list in descending order.
list12A = [11,2,33,4,5,16,37,78,10]
list12A.sort(reverse=True)
list12A

[78, 37, 33, 16, 11, 10, 5, 4, 2]

In [53]:
#13. Create a list of even numbers from 1 to 20.
list13A = []
for i in range(1,20):
    if i % 2 == 0:
        list13A.append(i)
print(list13A)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [54]:
#14. Create a list of odd numbers from 1 to 20.
list14A = []
for i in range(1,20):
    if i % 2 != 0:
        list14A.append(i)
print(list14A)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [55]:
#15. Find the sum of all elements in a list.
list15A = [10,20,30,10,20,30]
sum15A = 0
for i in list15A:
    sum15A = sum15A + i
print("The sum of ",list15A,"is",sum15A)

The sum of  [10, 20, 30, 10, 20, 30] is 120

In [57]:
#16. Find the maximum value in a list.
list16A = [10,20,30,10,20,30]
max16A = max(list16A)
print(max16A)

30

In [59]:
#17. Find the minimum value in a list.
list17A = [10,20,30,10,20,30]
min17A = min(list17A)
print(min17A)

#19. Create a list of random numbers.

10

In [63]:
#18. Create a list of squares of numbers from 1 to 10.
list18A = []

for i in range(1,11):
    sqr = i * i
    list18A.append(sqr)

print(list18A)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [68]:
#19. Create a list of random numbers.
import random
list19A = []
for i in range(1,11):
    r = random.randint(3,7)
    list19A.append(r)

print(list19A)

[3, 7, 3, 5, 6, 7, 3, 3, 6, 5]

In [12]:
#20. Remove duplicates from a list.
list20A = [10,20,30,10,20,30]
set20= set(list20A)
list20A.clear()

for i in set20:
    list20A.append(i)
print(list20A)

[10, 20, 30]

In [13]:
#21. Find the common elements between two lists.

list21A = [10,20,30,10,20,30]
list21B = [10,50,80,10,20,30]
list21C = []

for i in list21A:
    for j in list21B:
        if i == j:
            list21C.append(i)

set21A = set(list21C)
set21A

{10, 20, 30}

In [23]:
#22. Find the difference between two lists.

list22A = [10,20,30,10,20,30]
list22B = [10,50,80,10,20,30]

set22A = set(list22A)
set22B = set(list22B)

set22A = set22B - set22A
set22A

{50, 80}

In [25]:
#23. Merge two lists.

list23A = [10,20,30,10,20,30]
list23B = [10,50,80,10,20,30]

set23A = set(list23A)
set23B = set(list23B)

set23A = set23A.union(set23B)
set23A

{10, 20, 30, 50, 80}

In [27]:
#24. Multiply all elements in a list by 2.

list24A = [10,20,30,10,20,30]
list24B = [i*2 for i in list24A]
list24B

[20, 40, 60, 20, 40, 60]

In [28]:
#25. Filter out all even numbers from a list.

list25A = [1,2,3,4,5,6,7,8,9,11,16,478,49,333,999]
list25B = [i for i in list25A if i%2==0]
list25B

[2, 4, 6, 8, 16, 478]

In [31]:
#26. Convert a list of strings to a list of integers.
list26A = ['10','20','30','10','20','30']
list26B = [int(x) for x in list26A]
list26B

[10, 20, 30, 10, 20, 30]

In [32]:
#27. Convert a list of integers to a list of strings.

list27A = [10, 20, 30, 10, 20, 30]
list27B = [str(x) for x in list27A]
list27B

['10', '20', '30', '10', '20', '30']

In [42]:
#28. Flatten a nested list.

list28A = [[1], 3, [2, 3], [4, 5, 6]]
list28B = []
for i in list28A:
    if isinstance(i, list):
        for j in i:
            list28B.append(j)
    else:
        list28B.append(i)

list28B

[1, 3, 2, 3, 4, 5, 6]

In [43]:
#29. Create a list of the first 10 Fibonacci numbers.
#0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233

#input_num = int(input("Enter Number"))
fibo_num_pos = 0
fibo_list = []
prePos = 0
posPos = 1
final_fibo = 0

#for i in range(0,input_num):
for i in range(0,10):
    if fibo_num_pos == 0:
        fibo_list.append(0)
    if fibo_num_pos == 1:
        fibo_list.append(1)
    else:
        final_fibo = prePos + posPos
        fibo_list.append(final_fibo)
        prePos = posPos
        posPos = final_fibo
    fibo_num_pos = fibo_num_pos + 1
        
fibo_list

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [46]:
#30. Check if a list is sorted.

list30A = [1,3,4,5]
list30B = list30A.copy()
list30B.sort()
print(list30A)
print(list30B)

if list30A == list30B:
    print("Sorted")
else:
    print("not sorted")

[1, 3, 4, 5]
[1, 3, 4, 5]
Sorted

In [14]:
#31. Rotate a list to the left by `n` positions.
list31A = [1,2,3,4,5,6,7,8,9,10]
list31B = []
n = 2
n = n-1
#list31A.append(list31A[n:].append(list31A[:n-1]))

list31B.extend(list31A[n:])
list31B.extend(list31A[:n])

list31B

[2, 3, 4, 5, 6, 7, 8, 9, 10, 1]

In [19]:
#32. Rotate a list to the right by `n` positions.
list32A = [1,2,3,4,5,6,7,8,9,10]
n1 = 3
list32A_L1 = list32A[n1::-1]
list32A_L2 = list32A[:n1:-1]
print(list32A_L1 + list32A_L2)

[4, 3, 2, 1, 10, 9, 8, 7, 6, 5]

In [6]:
#33. Create a list of prime numbers up to 50.
#2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97

list33A = []
for i in range(2,50):
    if int(i) in [2,3,5,7]:
        list33A.append(i)
    elif int(i) % 2 == 0:
        print("",end="")
    elif int(i) % 3 == 0:
        print("",end="")
    elif int(i) % 5 == 0:
        print("",end="")
    elif int(i) % 7 == 0:
        print("",end="")
    else:
        list33A.append(i)
print(list33A, end="")

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [28]:
#34. Split a list into chunks of size `n`.

#Unable to solve
list_splitA = [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]
list_splitA_len = len(list_splitA)
list_splitB = list_splitA.copy()
list_splitB1 = []
list_splitC = []

n=4
count_list_splitA = 0
for i in range(0,list_splitA_len):
    count_list_splitA = count_list_splitA + 1
    
    if count_list_splitA <= 4:
        list_splitB1.append(list_splitA[i])
        list_splitC.append(list_splitB1)
        list_splitA.remove(list_splitA[i])
    else:
        print(count_list_splitA)
        
        
list_splitC

5
6
7
8
9
10
11
12
13
14
15

[[2, 5, 11, 17], [2, 5, 11, 17], [2, 5, 11, 17], [2, 5, 11, 17]]

In [38]:
#35. Find the second largest number in a list.

list_35A = [2, 5, 11, 17]
list_35A.sort(reverse=True)
list_35A
#secondLargest = list_35A[1]
#secondLargest

list_35B = [2, 5, 11, 17]
list_35B.sort()
list_35B

secondLargest = list_35B[len(list_35B)-2]
secondLargest

11

In [49]:
#36. Replace every element in a list with its square.
list_36A = [1,2,3,4,5]
count_list36A = 0
for i in list_36A:
    x = i * i
    list_36A[count_list36A] = x
    count_list36A = count_list36A+1

print(list_36A)

[1, 4, 9, 16, 25]

In [6]:
#37. Convert a list to a dictionary where list elements become keys and their indices become values.

list_37A = ['a','b','c','d','e']
count_37A = 0
dict_37A = {}

for i in list_37A:
    dict_37A[i] = count_37A
    count_37A = count_37A + 1
    
print(dict_37A)

{'a': 0, 'b': 1, 'c': 2, 'd': 3, 'e': 4}

In [8]:
#38. Shuffle the elements of a list randomly.
import random
list_38A = ['a','b','c','d','e']
random.shuffle(list_38A)
list_38A

['b', 'e', 'a', 'd', 'c']

In [22]:
#39. Create a list of the first 10 factorial numbers.
#The value of factorial of 10 is 3628800, i.e. 10! = 10  9  8  7  6  5  4  3  2  1 = 3628800.

list_39A = []
for i in range(1,11):
    total = 1
    for j in range(1,i+1):
        total = total * j
    print(i,"! =",total)

1 ! = 1
2 ! = 2
3 ! = 6
4 ! = 24
5 ! = 120
6 ! = 720
7 ! = 5040
8 ! = 40320
9 ! = 362880
10 ! = 3628800

In [32]:
#40. Check if two lists have at least one element in common.
list_40A = [33,44,555,66]
list_40B = [333,666,555,999]

set_40A = set(list_40A)
set_40B = set(list_40B)

set_40C = set_40A & set_40B
if len(set_40C)>0:
    print("Common elements are",set_40C)
else:
    print("No Common elements found")

Common elements are {555}

In [33]:
#41. Remove all elements from a list.
list_41A = [333,666,555,999]
list_41A.clear()
list_41A

[]

In [52]:
#42. Replace negative numbers in a list with 0.
list_42A = [-1,-2,35,67,89,94,65,52,-5,333,666,555,999]
count_42 = 0

for i in list_42A:
    if i <0:
        list_42A[count_42] = 0
    count_42 = count_42 +1
list_42A

[0, 0, 35, 67, 89, 94, 65, 52, 0, 333, 666, 555, 999]

In [53]:
#43. Convert a string into a list of words.

string_43lst = "A data scientist uses data to understand and explain the phenomena around them, and help organizations make better decisions."
lst_43_words = list(string_43lst.split(" "))
lst_43_words

['A',
 'data',
 'scientist',
 'uses',
 'data',
 'to',
 'understand',
 'and',
 'explain',
 'the',
 'phenomena',
 'around',
 'them,',
 'and',
 'help',
 'organizations',
 'make',
 'better',
 'decisions.']

In [55]:
#44. Convert a list of words into a string.
list44_words = ['A', 'data', 'scientist', 'uses', 'data', 'to', 'understand', 'and', 'explain', 'the']
str_list44_words = ' '.join(list44_words)
str_list44_words

'A data scientist uses data to understand and explain the'

In [1]:
#45. Create a list of the first `n` powers of 2.

n45 = 10
list45A = []
for i in range(n45):
    powr = i**2
    list45A.append(powr)
list45A

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [4]:
#46. Find the longest string in a list of strings.

list46_words = ['A', 'data', 'scientist', 'uses', 'data', 'to', 'understand', 'and', 'explain', 'the']
string_n46 = ""

for i in list46_words:
    if len(i) > len(string_n46):
        string_n46 = i

print(string_n46)

understand

In [6]:
#47. Find the shortest string in a list of strings.

list47_words = ['data', 'scientist', 'uses', 'data', 'to', 'understand', 'and', 'explain', 'the']
string_n47 = ""

for i in list47_words:
    if len(i) < len(string_n47):
        string_n47 = i

print(string_n47)

In [22]:
#48. Create a list of the first `n` triangular numbers.
n = 10
list1=[]

def Cal_Tri_Num(n):
    Tring_Num = 0
    for i in range(n):
        for j in range(n):
            Tring_Num = Tring_Num + 1
        n=n-1
    return Tring_Num

for i in range(n):
    list1.append(Cal_Tri_Num(i))
print(list1)

[0, 1, 3, 6, 10, 15, 21, 28, 36, 45]

In [16]:
#49. Check if a list contains another list as a subsequence.

list49A = [1,2,3,4,5]
list49B = [4,5]
flag49 = False

for i in list49A:
    for j in list49B:
        if j in list49A:
            flag49 = True
print(flag49)

True

In [17]:
#50. Swap two elements in a list by their indices.

list50A = [1,2,5,6,8,7,9]
temp_list50 = list50A[4]

list50A[4] = list50A[5]
list50A[5] = temp_list50

list50A

[1, 2, 5, 6, 7, 8, 9]

In [ ]:
#Tuple Based Practice Problem :

In [21]:
#1. Create a tuple with integers from 1 to 5.
tuple1A = (1,2,3,4,5)
print(type(tuple1A))
tuple1A

<class 'tuple'>

(1, 2, 3, 4, 5)

In [23]:
#2. Access the third element of a tuple.
t2A = (1,2,3,4,5)
print(t2A[2])

3

In [25]:
#3. Find the length of a tuple without using the `len()` function.

t3A = (1,2,3,4,5)
countT3 = 0
for i in t3A:
    countT3= countT3+1
countT3

5

In [26]:
#4. Count the occurrences of an element in a tuple.
t4A = (1,2,3,4,1,4,5,2,3,5,3,5,6,7,8,9,1,3,5,7,8)
ele = 1
countT4 = 0
for i in t4A:
    if i == ele:
        countT4 = countT4 + 1
countT4

3

In [28]:
#5. Find the index of the first occurrence of an element in a tuple.
t5A = (2,3,4,1,4,5,2,3,5,3,5,6,7,1,8,9,1,3,5,7,8)
ele = 1
indexT5 = 0
find_index = 0
for i in t5A:
    indexT5 = indexT5 + 1
    if i == ele:
        find_index = indexT5-1
        break
        
find_index

3

In [40]:
#6. Check if an element exists in a tuple.
t6A = (2,3,4,1,4,5,2,3,5,3,5,6,7,1,8,9,1,3,5,7,8)
ele = 4
flag = False

for i in t6A:
    if i == ele:
        flag = True

if flag == True:
    print("Exists")
else:
    print("Does not Exists")

Exists

In [45]:
#7. Convert a tuple to a list.

t7A = (2,3,4,1,4,5,2,3,5,3,5,6,7,1,8,9,1,3,5,7,8)
listT7 = list(t7A)
listT7

[2, 3, 4, 1, 4, 5, 2, 3, 5, 3, 5, 6, 7, 1, 8, 9, 1, 3, 5, 7, 8]

In [46]:
#8. Convert a list to a tuple.
list_T8A = [2, 3, 4, 1, 4, 5, 2, 3, 5, 3, 5, 6, 7, 1, 8, 9, 1, 3, 5, 7, 8]
t8A = tuple(list_T8A)
t8A

(2, 3, 4, 1, 4, 5, 2, 3, 5, 3, 5, 6, 7, 1, 8, 9, 1, 3, 5, 7, 8)

In [48]:
#9. Unpack the elements of a tuple into variables.
t9A = (66,99,33)

v1, v2, v3 = t9A

print(v3)
print(v1)
print(v2)

33
66
99

In [52]:
#10. Create a tuple of even numbers from 1 to 10.
listT10 = []
T10 = ()
for i in range(1,11):
    if i%2 == 0:
        listT10.append(i)
tuple(listT10)

[2, 4, 6, 8, 10]

In [55]:
#11. Create a tuple of odd numbers from 1 to 10.

T11 = [i for i in range(1,11) if not i%2==0]
T11

[1, 3, 5, 7, 9]

In [56]:
#12. Concatenate two tuples.

T1 = (1,2,3)
T2 = (4,5)

T3 = T1 + T2
T3

(1, 2, 3, 4, 5)

In [57]:
#13. Repeat a tuple three times.

T1 = (1,2,3)
T2 = T1 * 3
T2

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [62]:
#14. Check if a tuple is empty.

T14A = ()
T14B = (10,20)

if len(T14A) == 0:
    print("TA Empty Tuple")
else:
    print("TA Filled Tuple")

if len(T14B) == 0:
    print("TB Empty Tuple")
else:
    print("TB Filled Tuple")

TA Empty Tuple
TB Filled Tuple

In [63]:
#15. Create a nested tuple.
T15 = ((1,2,3),("A","B","C"),(4,5,6),("D","E","F"))

print(T15)

((1, 2, 3), ('A', 'B', 'C'), (4, 5, 6), ('D', 'E', 'F'))

In [66]:
#16. Access the first element of a nested tuple.
T16 = ((1,2,3),("A","B","C"),(4,5,6),("D","E","F"))
print(T16[0])
T16_1 = T16[0]
print(T16_1[0])

(1, 2, 3)
1

In [68]:
#17. Create a tuple with a single element.
T17=("A",)
print(T17)

('A',)

In [75]:
#18. Compare two tuples.

T18A = (3,4,5)
T18B = (3,4,5)

print("T18A == T18B:", T18A == T18B)
print("T18A == T18B:", T18A <= T18B)
print("T18A == T18B:", T18A >= T18B)
print("T18A == T18B:", T18A < T18B)
print("T18A == T18B:", T18A > T18B)
print("T18A == T18B:", T18A != T18B)

T18A == T18B: True
T18A == T18B: True
T18A == T18B: True
T18A == T18B: False
T18A == T18B: False
T18A == T18B: False

In [78]:
#19. Delete a tuple.
T19A = (3,7,8,0) 
del T19A
print(T19A)

NameError: name 'T19A' is not defined

In [80]:
#20. Slice a tuple.
T20A = (2,3,4,5,6,7,8,9,1)

T20B = T20A[5:]
T20B

(7, 8, 9, 1)

In [81]:
#21. Find the maximum value in a tuple.

T21A = (100,300,500,600,9999)
MaxT21 = max(T21A)
MaxT21

9999

In [82]:
#22. Find the minimum value in a tuple.

T22A = (100,300,500,600,9999)
MaxT22 = min(T21A)
MaxT22

100

In [83]:
#23. Convert a string to a tuple of characters.

T23A = "INDIA"

T23B = tuple(T23A)
T23B

('I', 'N', 'D', 'I', 'A')

In [87]:
#24. Convert a tuple of characters to a string.

T24 = ('I', 'N', 'D', 'I', 'A')
stringT24 = "".join(T24)
stringT24

'INDIA'

In [95]:
#25. Create a tuple from multiple data types.

T25A = (1,2,3,4,"A","B","C",45.55,-5,"stinger",(1,2,3),[9,8,7])
T25A

(1, 2, 3, 4, 'A', 'B', 'C', 45.55, -5, 'stinger', (1, 2, 3), [9, 8, 7])

In [92]:
#26. Check if two tuples are identical.

T1 = (7,8,9,0)
T2 = (7,8,9,0)

if T1 == T2:
    print("identical")
else:
    print("Not identical")

identical

In [97]:
#27. Sort the elements of a tuple.
T27A = (100,33,500,67,98,600,9999)
T27B = tuple(sorted(T27A))
T27B

(33, 67, 98, 100, 500, 600, 9999)

In [103]:
#28. Convert a tuple of integers to a tuple of strings.

T28A = (1,2,3)
T28B = tuple([str(i) for i in T28A])
T28B

('1', '2', '3')

In [107]:
#30. Merge two tuples.

T1 = (7,8,9,0)
T2 = (1,2,3,4,5)

sT1 = set(T1)
sT2 = sT1.union(set(T2))
T3 = tuple(sT2)
T3
T4 = T1+T2
print("T3 :", T3)
print("T4 :", T4)

T3 : (0, 1, 2, 3, 4, 5, 7, 8, 9)
T4 : (7, 8, 9, 0, 1, 2, 3, 4, 5)

In [10]:
#31. Flatten a nested tuple.
T1 = ((1,2,3),(4,5,6),("A","B","C"))
L1 = []

for i in T1:
    if isinstance(i,tuple):
        print(i)
        L1 = list(i)
        L1.extend(i)
        break;
T2 = tuple(L1)
print(T2)

(1, 2, 3)
(1, 2, 3, 1, 2, 3)

In [12]:
#32. Create a tuple of the first 5 prime numbers.
[x for x in range(2, 11)
     if all(x % y for y in range(2, x//2))]

[2, 3, 4, 5, 7]

In [14]:
#33. Check if a tuple is a palindrome.
t1 = ('p','0','p')
t2= t1[::-1]
t2
if t1==t2:
    print("Palindrome")
else:
    print("Not Palindrome")

Palindrome

In [20]:
#34. Create a tuple of squares of numbers from 1 to 5.
tuple([x**2 for x in range(1,6)])

(1, 4, 9, 16, 25)

In [21]:
#35. Filter out all even numbers from a tuple.
t1 = (1,2,3,4,5,6,7,8,9,10,12,14)
[t for t in t1 if t%2==0]

[2, 4, 6, 8, 10, 12, 14]

In [22]:
#36. Multiply all elements in a tuple by 2.
t1 = (1,2,3,4,5,6,7)
[i*2 for i in t1]

[2, 4, 6, 8, 10, 12, 14]

In [28]:
#37. Create a tuple of random numbers.
list1=[]
import random
[list1.append(random.randint(4,40)) for i in range(0,10)]
tuple(list1)

(27, 22, 21, 32, 17, 5, 31, 31, 15, 25)

In [33]:
#38. Check if a tuple is sorted.
t1 = (27, 22, 21, 32, 17, 5, 31, 31, 15, 25)
t2 = tuple(sorted(t1))

if t1==t2:
    print("sorted")
else:
    print("Not sorted")

Not sorted

In [40]:
#39. Rotate a tuple to the left by `n` positions.
t1 = (27, 22, 21, 32, 17, 5, 31, 31, 15, 25)
n = 4
t2A = t1[:4]
t2B = t1[4:]
print(t2A)
print(t2B)

t2 = t2B + t2A
t2

(27, 22, 21, 32)
(17, 5, 31, 31, 15, 25)

(17, 5, 31, 31, 15, 25, 27, 22, 21, 32)

In [41]:
#40. Rotate a tuple to the right by `n` positions.
t1 = (27, 22, 21, 32, 17, 5, 31, 31, 15, 25)
n = 4
t2A = t1[:4:-1]
t2B = t1[4::-1]
print(t2A)
print(t2B)

t2 = t2B + t2A
t2

(25, 15, 31, 31, 5)
(17, 32, 21, 22, 27)

(17, 32, 21, 22, 27, 25, 15, 31, 31, 5)

In [57]:
#41. Create a tuple of the first 5 Fibonacci numbers.
L1=[1,1]

[L1.append(L1[i-1]+L1[i-2]) for i in range(2,8)]
tuple(L1)

(1, 1, 2, 3, 5, 8, 13, 21)

In [1]:
#42. Create a tuple from user input.
list1 = []
for i in range(3):
    a = input("Enter value")
    list1.append(a)
tuple(list1)

Enter value 4
Enter value 0
Enter value 1

('4', '0', '1')

In [6]:
#43. Swap two elements in a tuple.
t2 = (2,3,7,8,9,4)
t3 = list(t2)
a = t3[2]
b = t3[5]
temp = a

t3[2] = b
t3[5] = temp

t4 = tuple(t3)

print("Before :",t2)
print("Swap 4 with 7")
print("After  :", t4)

Before : (2, 3, 7, 8, 9, 4)
Swap 4 with 7
After  : (2, 3, 4, 8, 9, 7)

In [8]:
#44. Reverse the elements of a tuple.
t1 = (1,2,3,4,5)
t2 = t1[::-1]
print("Before :",t1)
print("After :",t2)

Before : (1, 2, 3, 4, 5)
After : (5, 4, 3, 2, 1)

In [11]:
#45. Create a tuple of the first `n` powers of 2.
n=3
t1 = tuple(2 ** i for i in range(n))
print(t1)

(1, 2, 4)

In [12]:
#46. Find the longest string in a tuple of strings.
t1 = ("Apple","Ball","Cat","Dog")
mx = max(t1,key=len)
print(mx)

Apple

In [13]:
#47. Find the shortest string in a tuple of strings.
t1 = ("Apple","Ball","Cat","Dog")
mx = min(t1,key=len)
print(mx)

Cat

In [18]:
#48. Create a tuple of the first `n` triangular numbers.
n = 6
list1 = []

def Calculate_Tri_num(n):
    Tring_Num = 0
    for i in range(n):
        for j in range(n):
            Tring_Num = Tring_Num + 1
        n=n-1
    return Tring_Num


for i in range(n):
    list1.append(Calculate_Tri_num(i))

list2 = tuple(list1)
print(list2)

(0, 1, 3, 6, 10, 15)

In [21]:
#49. Check if a tuple contains another tuple as a subsequence.

def SubSequence(t1,t2):
    counter = 0
    for i in t1:
        for j in t2:
            if i == j:
                counter=counter+1
    if len(t2) == counter:
        print("Perfectly matching")
    elif counter > 0:
        print("Some of the elements are matching")
    else:
        print("Its not a subset")

        
t1 = (9,99,999,9999,99999)
t1_sub = (9,99)
SubSequence(t1,t1_sub)

Perfectly matching

In [24]:
#50. Create a tuple of alternating 1s and 0s of length `n`.
n=2
t1 = tuple(i % 2 for i in range(n))
print(t1)

(0, 1)

In [ ]:
#Set Based Practice Problem :

In [27]:
#1. Create a set with integers from 1 to 5.
s = {i for i in range(5)}
print(s)

{0, 1, 2, 3, 4}

In [36]:
#2. Add an element to a set.
s={1,3,4,5}
s.add(2)
print(s)

{1, 2, 3, 4, 5}

In [38]:
#3. Remove an element from a set.

s={1,3,4,5}
s.remove(1)
print(s)

{3, 4, 5}

In [40]:
#4. Check if an element exists in a set.

s={1,3,4,5}
if 1 in s:
    print("Element exists in a set")
else:
    print("Element does not exists in a set")

element exists in a set

In [41]:
#5. Find the length of a set without using the `len()` function.
s={1,3,4,5}
c=0
for i in s:
    c = c+ 1
print("Length of set is :",c)

Length of set is : 4

In [45]:
#6. Clear all elements from a set.
s={1,3,4,5}
s.clear()
print(s)

set()

In [47]:
#7. Create a set of even numbers from 1 to 10.

s = {i for i in range(10) if i%2==0}
s

{0, 2, 4, 6, 8}

In [48]:
#8. Create a set of odd numbers from 1 to 10.
s = {i for i in range(10) if i%2 !=0}
s

{1, 3, 5, 7, 9}

In [51]:
#9. Find the union of two sets.
s1 = {1,2,3,4}
s2 = {4,5,6,7}

s3 = s1.union(s2)
s3

{1, 2, 3, 4, 5, 6, 7}

In [52]:
#10. Find the intersection of two sets.
s1 = {1,2,3,4}
s2 = {4,5,6,7}

s3 = s1.intersection(s2)
s3

{4}

In [56]:
#11. Find the difference between two sets.

s1 = {1,2,3,4}
s2 = {4,6,7,8}

s3 = s1.difference(s2)
s3

{1, 2, 3}

In [4]:
#12. Check if a set is a subset of another set.

s1 = {1,2,3,4,4,5,6,7}
s2 = {4,5,6,7}

if s2.issubset(s1):
    print("Yes, Subset")
else:
    print("NO")

Yes, Subset

In [6]:
#13. Check if a set is a superset of another set.

s1 = {1,2,3,4,4,5,6,7}
s2 = {4,5,6,7}

if s1.issuperset(s2):
    print("Yes, Super Set")
else:
    print("NO")

Yes, Super Set

In [7]:
#14. Create a set from a list.

list1 = [1,2,3,4]
s1 = set(list1)
print(s1)

{1, 2, 3, 4}

In [8]:
#15. Convert a set to a list.
s1 = {1,2,3,4,5}
l1 = list(s1)
print(l1)

[1, 2, 3, 4, 5]

In [18]:
#16. Remove a random element from a set.
import random
s1 = {1,2,3,4,5}
n = random.choice(list(s1))
print(n)
s1.remove(n)
print(s1)

3
{1, 2, 4, 5}

In [20]:
#17. Pop an element from a set.
s1 = {1,22,3,44,5}
s1.pop()
print(s1)

{3, 5, 22, 44}

In [23]:
#18. Check if two sets have no elements in common.

s1 = {1,2,3,4,4,5,6,7}
s2 = {4,5,6,7}

s3 = s1.intersection(s2)
if len(s3) >0:
    print("Common elements found")
else:
    print("No common elements found")

Common elements found

In [29]:
#19. Find the symmetric difference between two sets.

s1 = {1, 5, 3, 4, 5}
s2 = {4, 5, 5, 7, 8}

s3 = s1 ^ s2
print(s3)

{1, 3, 7, 8}

In [39]:
#20. Update a set with elements from another set.
s1 = {1,5,3,4,5}
s2 = {11,12,14}

s1.update(s2)
print(s1)

{1, 3, 4, 5, 11, 12, 14}

In [44]:
#21. Create a set of the first 5 prime numbers.
l1=[x for x in range(2, 6)
     if all(x % y for y in range(2, x//2))]
s1 = set(l1)
print(s1)

{2, 3, 4, 5}

In [51]:
#22. Check if two sets are identical.

s1 = {1,3,5,6}
s2 = {11,5,3,6}
s3 = {1,3,5,6}


if (s1 == s2):
    print("Identical")
else:
    print("Not identical")

if (s1 == s3):
    print("Identical")
else:
    print("Not identical")

Not identical
Identical

In [1]:
#23. Create a frozen set.

l1 = [1,2,3,4,5]
s1 = frozenset(l1)
print(s1)

frozenset({1, 2, 3, 4, 5})

In [3]:
#24. Check if a set is disjoint with another set.

s1 = {1, 2, 3, 4}
s2 = {5, 6, 7, 8}
s3 = {1, 1, 2, 8}

s4 = s1.isdisjoint(s2)
s5 = s1.isdisjoint(s3)
print(s4)
print(s5)

True
False

In [4]:
#25. Create a set of squares of numbers from 1 to 5.
s = set(i*i for i in range(5))
print(s)

{0, 1, 4, 9, 16}

In [5]:
#26. Filter out all even numbers from a set.
s = set(i for i in {1,2,3,4,5,6,7,8,9,10} if i%2==0)
print(s)

{2, 4, 6, 8, 10}

In [6]:
#27. Multiply all elements in a set by 2.
s=set(i*2 for i in range(10))
print(s)

{0, 2, 4, 6, 8, 10, 12, 14, 16, 18}

In [14]:
#28. Create a set of random numbers.
s1 = set()
import random
for i in range(5):
    x = random.randint(0,100)
    s1.add(x)

print(s1)

{43, 75, 45, 16, 56}

In [16]:
#29. Check if a set is empty.
s=set()
if len(s) == 0:
    print("Empty")

Empty

In [24]:
#30. Create a nested set (hint: use frozenset).
s1 = {11,22,33,44}
s2 = {55,66,77,88}

s3 = frozenset(s1)
s4 = frozenset(s2)

s5 = {s4,s3}
print(type(s5))

print(s5)

<class 'set'>
{frozenset({33, 11, 44, 22}), frozenset({88, 66, 77, 55})}

In [26]:
#31. Remove an element from a set using the discard method.
s1 = {11,22,33,44}

s1.discard(11)
print(s1)

{33, 44, 22}

In [30]:
#32. Compare two sets.
s1 = {11,22,33,44}
s2 = {55,66,77,88}
s3 = {55,66,77,88}

if s1 == s2:
    print("Matched",s1," and ",s2)
else:
    print("Not matched",s1," and ",s2)
    
if s2 == s3:
    print("Matched",s2," and ",s3)
else:
    print("Not matched")

Not matched {33, 11, 44, 22}  and  {88, 66, 77, 55}
Matched {88, 66, 77, 55}  and  {88, 66, 77, 55}

In [33]:
#33. Create a set from a string.

str1 = "Universe"

s = set(str1)
print(s)

{'n', 'r', 'U', 'v', 's', 'e', 'i'}

In [39]:
#34. Convert a set of strings to a set of integers.
str1 = {'1','3','7','5','99'}
s1 = set()
for i in str1:
    s1.add(int(i))

print(s1)
print(type(s1))

{1, 99, 3, 5, 7}
<class 'set'>

In [40]:
#35. Convert a set of integers to a set of strings.

int1 = {1,3,4,5,67,0}
s1 = set()
for i in int1:
    s1.add(str(i))
print(s1)

{'1', '4', '5', '3', '67', '0'}

In [42]:
#36. Create a set from a tuple.

t1 = (1,33,55,66,77,999)
print(type(t1))
s2 = set(t1)
print(s2)

<class 'tuple'>
{1, 66, 33, 999, 77, 55}

In [43]:
#37. Convert a set to a tuple.
s1 = {1,3,4,5,6}
t1 = tuple(s1)
print(t1)
print(type(t1))

(1, 3, 4, 5, 6)
<class 'tuple'>

In [44]:
#38. Find the maximum value in a set.

s1 = {1, 66, 33, 999, 77, 55}
mx = max(s1)
print(mx)

999

In [45]:
#39. Find the minimum value in a set.
s1 = {1, 66, 33, 999, 77, 55}
mn = min(s1)
print(mn)

1

In [46]:
#40. Create a set from user input.
s1= set()
for i in range(3):
    a = input("Enter a value")
    s1.add(a)

print(s1)

Enter a value 55
Enter a value 999
Enter a value 35453

{'999', '35453', '55'}

In [54]:
#41. Check if the intersection of two sets is empty.
s1 = {11,22,33,44}
s2 = {55,66,77,88}
s3 = {11,22,33,44}

if len(s1.intersection(s3)) >0:
    print("There are common elements s1 and s3")
else:
    print("There are NO common elements s1 and s3")    

    
    
if len(s1.intersection(s2)) >0:
    print("There are common elements s1 and s2")
else:
    print("There are NO common elements between s1 and s2")

There are common elements s1 and s3
There are NO common elements between s1 and s2

In [92]:
#42. Create a set of the first 5 Fibonacci numbers.
s11 = [1,1]
s1.add(1)
s1.add(1)

[s11.append(s11[i-1]+s11[i-2]) for i in range(2,5)]
[s1.add(i) for i in s11]
print(s1)

{1, ',', 3, 2, '1', 5}

In [86]:
L1=[1,1]

[L1.append(L1[i-1]+L1[i-2]) for i in range(2,8)]
tuple(L1)

(1, 1, 2, 3, 5, 8, 13, 21)

In [20]:
#42. Create a set of the first 5 Fibonacci numbers.
a=0
b=1
s1 = set()
for _ in range(0,6):
    s1.add(a)
    a, b = b, a + b

    
print(s1)

{0, 1, 2, 3, 5}

In [8]:
#43. Remove duplicates from a list using sets.

s1 = [1,1,2,3,4,2,3,4]
s2 = set(s1)
s3 = list(s2)
print(s3)

[1, 2, 3, 4]

In [7]:
#44. Check if two sets have the same elements, regardless of their count.
s1 = {8,8,8,2,2,2,4,4,8,2,5,5,2,4,8}
s2 = {5,8,2,2,4}

l1 = list(s1)
l2 = list(s2)

l3 = sorted(l1)
l4 = sorted(l2)

if l3 == l4:
    print("There are common elements")
else:
    print("There are NO common elements")

There are common elements

In [8]:
#45. Create a set of the first `n` powers of 2.

def calculate_power(n):
    s1 = set()
    for i in range(n):
        num = 2 ** i
        s1.add(num)
    return s1

c = calculate_power(5)
print(c)

{1, 2, 4, 8, 16}

In [10]:
#46. Find the common elements between a set and a list.

l1 = [7, 12, 5, 9]
s1 = {3, 7, 9, 12, 15}

s2 = set(l1)

s3 = s1.intersection(s2)
print(s3)

{9, 12, 7}

In [16]:
#47. Create a set of the first `n` triangular numbers.

def Cal_Tri_Num(n):
    total = 0
    for i in range(n):
        
        for j in range(n):
            #print("*", end="")
            total = total + j
        n = n-1
        #print("\n")
    return total


s1 = set()
            
for i in range(5):
    s1.add(Cal_Tri_Num(i))
    
print(s1)

{0, 1, 10, 4}

In [9]:
#48. Check if a set contains another set as a subset.

s1 = {1,2,3,4,5}
s2 = {4,5}

if s2.issubset(s1):
    print("Subset")
else:
    print("Not a subset")

Subset

In [16]:
#49. Create a set of alternating 1s and 0s of length `n`.

def create_1and0(n):
    index = 0
    list1 = []
    for i in range(n):
        if index == 0:
            list1.append(0)
            index = index+1
        elif index == 1:
            list1.append(1)
            index = 0
    return list1

print(create_1and0(10))

s1 = set(create_1and0(10))
print(s1)

[0, 1, 0, 1, 0, 1, 0, 1, 0, 1]
{0, 1}

In [17]:
#50. Merge multiple sets into one.

s1 = {1,2,3,4,5}
s2 = {5,7,8,9,10}
s3 = {3,4,62,688,7,7}

s4 = s1.union(s2).union(s3)
print(s4)

{1, 2, 3, 4, 5, 7, 8, 9, 10, 688, 62}